<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signal Strength</title>
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">
    <link rel= "stylesheet" href= "{% static 'rssi/css/style.css' %}">
    <script async src="{% static 'rssi/js/jquery.js' %}"></script>
</head>
<body class="blue-grey darken-4">
    <div class="center align container">
        <div class="card-panel">
            <h4>Wi-Fi Signal Strength</h4>
            <h5 id="dBm"></h5>
            <h6 id="text"></h6>
            <button class="waves-effect waves-dark btn-small white black-text">RSSI</button>
            <button class="waves-effect waves-light btn-small red lighten-1">Stop</button>
        </div>
    </div>
</body>
</html>