h4 {
    margin-bottom: 30px;
}
div.card-panel {
    width: 570px;
    height: 300px;
    margin: 50px auto;
    border-radius: 8px;
    background-color: #26a69a;
}
button.waves-effect.waves-light.btn-small, button.waves-effect.waves-dark.btn-small {
    width: 100px;
    margin: 30px 5px 0 5px;
}